---
permalink: /404
---
<!DOCTYPE HTML>
<html>
<head>
    <title>Not Found</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        {% include header.html %}

        <!-- Banner -->
        <section id="banner">
            <h2>404</h2>
            <p>Page not found :(</p>
        </section>

        <!-- Footer -->
        {% include footer.html %}
    </div>
</body>
</html>
