---
permalink: /
---
<!DOCTYPE HTML>
<html>
<head>
    <title>Jessica He</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
            {% include header.html %}

        <!-- Banner -->
            <section id="banner">
                <h2>Hi, I'm Jessica!</h2>
                <p>Welcome to my website</p>
            </section>

        <!-- Main -->
            <section id="main" class="container">

                <section class="box special">
                    <header class="major">
                        <h2>About Me</h2>
                        <p>"You're from MN!? Isn't it cold??" - a lot of people >> Berkeley '21</p>
                    </header>
                    <span class="image featured"><img src="images/jess.jpg" alt="" /></span>
                </section>
                <section class="box">
                    <header class="major">
                        <h2>Resume</h2>
                        <hr>
                    </header>
                    <header>
                        <h3>Education</h3>
                    </header>
                    <ul class="alt">
                        <li>
                            <b>University of California, Berkeley</b>
                            <div class="row">
                                <div class="column"><i>B.A. Operations Research and Management Science</i></div>
                                <div class="column">Aug 2017 - May 2021</div>
                            </div>
                        </li>
                        <li>
                            <b>University of California, Berkeley, Haas School of Business</b>
                            <div class="row">
                                <div class="column"><i>B.S. Business Administration</i></div>
                                <div class="column">Aug 2019 - May 2021</div>
                            </div>
                        </li>
                    </ul>
                    <header>
                        <h3>Professional Experience</h3>
                    </header>
                    <ul class="alt">
                        <li>
                            <div class="row">
                                <div class="column"><b>Goldman Sachs & Co.</b></div>
                                <div class="column"><b>San Francisco, CA</b></div>
                            </div>
                            <div class="row">
                                <div class="column"><i>Investment Banking Summer Analyst, TMT</i></div>
                                <div class="column">Starting Jun 2020</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>Visa Inc.</b></div>
                                <div class="column"><b>Foster City, CA</b></div>
                            </div>
                            <div class="row">
                                <div class="column"><i>Financial Analyst Intern</i></div>
                                <div class="column">May 2019 - Aug 2019</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>Alpine Software Group</b></div>
                                <div class="column"><b>Walnut Creek, CA</b></div>
                            </div>
                            <div class="row">
                                <div class="column"><i>Spring Intern</i></div>
                                <div class="column">Feb 2019 - May 2019</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>The Economist</b></div>
                                <div class="column"><b>Berkeley, CA</b></div>
                            </div>
                            <div class="row">
                                <div class="column"><i>Campus Ambassador</i></div>
                                <div class="column">Aug 2018 - Nov 2018</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>Lis Cara Business Centre</b></div>
                                <div class="column"><b>Dublin, Ireland</b></div>
                            </div>
                            <div class="row">
                                <div class="column"><i>Management Intern</i></div>
                                <div class="column">Jun 2018 - Aug 2018</div>
                            </div>
                        </li>
                    </ul>
                    <header>
                        <h3>Leadership & Extracurriculars</h3>
                    </header>
                    <ul class="alt">
                        <li>
                            <b>Capital Investments at Berkeley</b>
                            <div class="row">
                                <div class="column"><i>Project Manager</i></div>
                                <div class="column">Aug 2018 - Present</div>
                            </div>
                        </li>
                        <li>
                            <b>The Berkeley Project</b>
                            <div class="row">
                                <div class="column"><i>Fundraising Committee</i></div>
                                <div class="column">Jan 2020 - Present</div>
                            </div>
                        </li>
                        <li>
                            <b>Swim Club @ Berkeley</b>
                            <div class="row">
                                <div class="column"><i>Design and Marketing Officer</i></div>
                                <div class="column">Jan 2019 - Dec 2019</div>
                            </div>
                        <li>
                            <b>UC Berkeley, Haas School of Business</b>
                            <div class="row">
                                <div class="column"><i>Research Team Lead</i></div>
                                <div class="column">Jan 2018 - Nov 2018</div>
                            </div>
                        </li>
                    </ul>
                    <header>
                        <h3>Awards</h3>
                    </header>
                    <ul class="alt">
                        <li>
                            <div class="row">
                                <div class="column"><b>1st Place Goldman Sachs Investment Banking Case Competition</b></div>
                                <div class="column">Feb 2019</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>1st Place Deutsche Bank Powering Progress Case Competition</b></div>
                                <div class="column">Feb 2019</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>Cal Alumni Leadership Award</b></div>
                                <div class="column">Aug 2018, Aug 2019</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>Mayo Clinic Young Volunteer Scholarship</b></div>
                                <div class="column">May 2017</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>Academic All-American Athlete</b></div>
                                <div class="column">May 2017</div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="column"><b>Century High School Fall Season Female Athlete</b></div>
                                <div class="column">Nov 2016</div>
                            </div>
                        </li>
                    </ul>
                    <header>
                        <h3>Interests</h3>
                    </header>
                    <ul class="alt">
                        <li>
                            <b>Michael Phelps: An Epic Olympic Journey (2008)</b>
                        </li>
                        <li>
                            <b>Jazz Flute</b>
                        </li>
                        <li>
                            <b>Piano Compositions</b>
                        </li>
                        <li>
                            <b>Baking Desserts</b>
                        </li>
                        <li>
                            <b>Traveling</b>
                        </li>
                        <li>
                            <b>Stranger Things</b>
                        </li>
                    </ul>
                </section>

            </section>

        <!-- Footer -->
            {% include footer.html %}

    </div>

    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>
</html>
