---
title: Jessica He
permalink: /
---
<!DOCTYPE HTML>
<html>
{% include head.html %}
<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        {% include header.html %}

        <!-- Banner -->
        <section id="banner">
            <h2>Hi, I'm Jessica!</h2>
            <p>Welcome to my website</p>
        </section>

        <!-- Main -->
        <section id="main" class="container">

            <section class="box">
                <header>
                    <h2>About Me</h2>
                    <p>I grew up in the cozy town of Rochester, MN, sandwiched between Mayo Clinic and IBM—the two recognizable names within 50 miles. With my mom working in medical research at Mayo and my dad working as an engineer at IBM, I knew I had to explore something different. After high school graduation, I moved 1,800 miles away to attend college at Berkeley, my mind made up to study business.</p>

                    <p>I have been fortunate enough to enjoy many opportunities unique to Berkeley—I taught origami to a class of 30 for a semester; completed a global internship program in Dublin, Ireland, where I got my first taste of finance; and bombarded passersby with free Exo cricket bars and magazines as a campus ambassador for The Economist. Most importantly, I joined several student organizations that jointly gave me both a dependable circle of friends and an opportunity to explore disparate career paths.</p>

                    <p>For now, I’ve found a career to occupy me for at least the short-term—I’ve accepted a finance internship in SF for this summer—but I’m forever eager to learn new skillsets and branch out into new domains.</p>

                    <p>If you’d ever like to hop on a call or meet for coffee, I would love to hear from you! You can reach me via email at jesshe21@berkeley.edu or use the contact form on this site.</p>
                </header>
            </section>
            <section class="box">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6">
                        <span class="image fit"><img src="images/jess.jpg" alt="" /></span>
                    </div>
                    <div class="col-6">
                        <span class="image fit"><img src="images/jess-and-leon.jpg" alt="" /></span>
                    </div>
                </div>
            </section>
            <section class="box">
                <header class="major">
                    <h2>Resume</h2>
                    <hr>
                </header>
                <header>
                    <h3>Education</h3>
                </header>
                <ul class="alt">
                    {% for education in site.data.educations %}
                    <li>
                        <div class="row">
                            <span><b>{{ education.school }}</b></span>
                        </div>
                        <div class="row">
                            <span><i>{{ education.degree }}</i></span>
                            <span>{{ education.date }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <header>
                    <h3>Professional Experience</h3>
                </header>
                <ul class="alt">
                    {% for experience in site.data.experiences %}
                    <li>
                        <div class="row">
                            <span><b>{{ experience.org }}</b></span>
                            <span><b>{{ experience.location }}</b></span>
                        </div>
                        <div class="row">
                            <span><i>{{ experience.position }}</i></span>
                            <span>{{ experience.date }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <header>
                    <h3>Leadership & Extracurriculars</h3>
                </header>
                <ul class="alt">
                    {% for extra in site.data.extras %}
                    <li>
                        <div class="row">
                            <span><b>{{ extra.org }}</b></span>
                            <span><b>{{ extra.location }}</b></span>
                        </div>
                        <div class="row">
                            <span><i>{{ extra.position }}</i></span>
                            <span>{{ extra.date }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <header>
                    <h3>Awards</h3>
                </header>
                <ul class="alt">
                    {% for award in site.data.awards %}
                    <li>
                        <div class="row">
                            <span><b>{{ award.name }}</b></span>
                            <span>{{ award.date }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <header>
                    <h3>Interests</h3>
                </header>
                <ul class="alt">
                    {% for interest in site.data.interests %}
                    <li>
                        <div class="row">
                            <span><b>{{ interest.name }}</b></span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>

        </section>

        <!-- Footer -->
        {% include footer.html %}

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
