---
title: Jessica He
permalink: /origami
description: Some of my origami creations
---
<!DOCTYPE HTML>
<html>
{% include head.html %}
<body class="modern">
    <div id="page-wrapper">

        {% include header.html %}

        <main class="site-shell">
            <section class="section" id="origami">
                <div class="section__header">
                    <h1>Origami collection</h1>
                    <p>Paper, patience, and a sense of play. Here are a few of my favorite folds.</p>
                </div>
                <div class="section__content gallery">
                    <div class="gallery-grid">
                        <img src="images/origami/peacock.jpg" alt="Origami peacock" />
                        <img src="images/origami/color_wheel.jpg" alt="Color wheel origami" />
                        <img src="images/origami/giraffe.jpg" alt="Origami giraffe" />
                        <img src="images/origami/swan.jpg" alt="Origami swan" />
                        <img src="images/origami/turtle.jpg" alt="Origami turtle" />
                        <img src="images/origami/kirby.jpg" alt="Origami Kirby" />
                        <img src="images/origami/panda.jpg" alt="Origami panda" />
                        <img src="images/origami/penguin.jpg" alt="Origami penguin" />
                        <img src="images/origami/fox.jpg" alt="Origami fox" />
                        <img src="images/origami/geometry.jpg" alt="Geometric origami" />
                    </div>
                </div>
            </section>
        </main>

        {% include footer.html %}

    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
