---
title: Jessica He
permalink: /origami
description: Some of my origami creations
---
<!DOCTYPE HTML>
<html>
{% include head.html %}
<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        {% include header.html %}

        <!-- Banner -->
        <section id="banner">
            <h2>Origami Collection</h2>
        </section>

        <!-- Main -->
        <section id="main" class="container">
            <section class="box">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-12">
                        <span class="image fit"><img src="images/origami/peacock.jpg" alt="" /></span>
                    </div>
                </div>
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/color_wheel.jpg" alt="" /></span>
                    </div>
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/giraffe.jpg" alt="" /></span>
                    </div>
                </div>
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/swan.jpg" alt="" /></span>
                    </div>
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/turtle.jpg" alt="" /></span>
                    </div>
                </div>
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/kirby.jpg" alt="" /></span>
                    </div>
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/panda.jpg" alt="" /></span>
                    </div>
                </div>
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/penguin.jpg" alt="" /></span>
                    </div>
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/fox.jpg" alt="" /></span>
                    </div>
                </div>
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6">
                        <span class="image fit"><img src="images/origami/geometry.jpg" alt="" /></span>
                    </div>
                </div>
            </section>

        <!-- Footer -->
        {% include footer.html %}

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
