<footer class="site-footer">
    <small>&copy; {{ 'now' | date: '%Y' }} Jessica He</small>
    <div class="social">
        <a href="https://www.facebook.com/jesshe21" class="icon brands fa-facebook-f" target="_blank" aria-label="Facebook"></a>
        <a href="https://www.instagram.com/jesshe21" class="icon brands fa-instagram" target="_blank" aria-label="Instagram"></a>
        <a href="https://www.linkedin.com/in/jessicahe21" class="icon brands fa-linkedin" target="_blank" aria-label="LinkedIn"></a>
    </div>
</footer>
